[Unit]

# Service description.
Description=NRuuviTag IoT data collector


[Service]

# The service will notify systemd when it is ready.
Type=notify

# Load environment variables for the service from this file.
EnvironmentFile=/etc/nruuvitag.d/nruuvitag.conf

# When the service starts, start the nruuvitag executable, passing in the 
# NRUUVITAG_OPTIONS environment variable set in the file above so that it is 
# split into multiple words at each white space character.
ExecStart=/usr/local/bin/nruuvitag $NRUUVITAG_OPTIONS

# Identifier for the service in the system logs.
SyslogIdentifier=nruuvitag

# User to run the service as.
User=<user>

# Ensure the service restarts after crashing.
Restart=always

# Amount of time to wait before restarting the service.                        
RestartSec=30   


[Install]

WantedBy=multi-user.target
